@model SeasonDetailsModel
@{
    var obj = Model;
    ViewBag.Title = "Episodes";
}
@section playnowcss{
    <link rel="stylesheet" href="~/css/playnow.css" asp-append-version="true" />

}
@if (obj.API_Fetched)
{
    <div class="container d-flex flex-column align-items-center">
        @for (int i = 0; i < obj.Seasons?.Count; i++)
        {
            if (@obj.Seasons[i].Name == "Specials")
            {
                continue;
            }
            else
            {
                <a class="btn btn-danger w-50 fs-3 fw-bolder">@obj.Seasons[i].Name</a>
                for (int j = 1; j <= obj.Seasons[i].Episode_Count; j++)
                {
                    int z = i;
                    if (i == 0)
                    {
                        z = i + 1;
                    }

                    var playnow = obj.Id + "-" + z + "-" + j;
                    <a class="btn btn-success w-25 m-1" asp-action="PlaySeason" asp-controller="Collection" asp-route-playnow="@playnow">Episode @j</a>
                }
            }

        }
    </div>
}
