@model Task<PlaynowRoot>
@section playnowcss{
    <link rel="stylesheet" href="~/css/playnow.css" asp-append-version="true" />
}
@{
    ViewBag.Title = "Play Now";
    var keyList = new List<string>();
    
    if (Model.Result.Results.Count == 0)
    {
        <div class="d-flex justify-content-center flex-column">
            <h1 class="text-light">No Videos Found</h1>
        </div>
    }
    else
    {
        foreach (var v in Model.Result.Results)
        {
            if (v.Site == "YouTube")
            {
                keyList.Add("https://www.youtube.com/embed/" + v.Key);
            }
        }
    }
}
@if (Model.Result.Results.Count > 0)
{
    <div class="container d-flex justify-content-center flex-column">
        <div class="ratio ratio-16x9">
            <iframe id="player" src="" allowfullscreen></iframe>
        </div>

        <div class="d-flex justify-content-center m-2">
            <button class="btn btn-danger m-1" onclick="GetPrevious()" id="preVideoBtn" type="button">Previous</button>
            <button class="btn btn-danger m-1" disabled>Total:@keyList.Count</button>
            <button class="btn btn-danger m-1" onclick="GetNext()" id="nextVideoBtn" type="button">Next</button>
        </div>
    </div>
}

@section playnowscript{

    <script>
        var list = @Html.Raw(Json.Serialize(keyList))

        var current = 0;
        $(document).ready(function () {
            $("#player").attr("src", list[current]);

        });
        function GetNext() {
            current++;
            if (current >= list.length) {
                current = 0;
            }
            $("#player").attr("src", list[current])
        }
        function GetPrevious() {
            current--;
            if (current < 0) {
                current = list.length - 1;
            }
            $("#player").attr("src", list[current])
        }
    </script>
}
