@model string;
@section playnowcss{
    <link rel="stylesheet" href="~/css/playnow.css" asp-append-version="true" />

}
@{
    ViewBag.Title = "Play Season";
}
<div class="d-flex flex-column w-100 vh-100 mt-3 mb-2">
    <h1 class="mt-3 text-white text-center">If You Are Unable To Play Try Changing The Server</h1>
    <div class="container w-100 h-100">
        <iframe class="w-100 h-100" id="iframe" src="https://autoembed.to/tv/tmdb/@Model" allow="autoplay" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header ">
                <h5 class="modal-title text-danger text-center fw-bolder">Important!</h5>
                <button type="button" class="btn-close-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white">
                <h2 class="text-white text-center">The Ads Are From 3rd Party Service</h2>
                <h3 class="text-white text-center">To Block Ads</h3>
                <ul>
                    <li>
                        For Desktop Use <a target="_blank" href="https://ublockorigin.com/">uBloack Origin Extension</a>.
                    </li>
                    <li>
                        For IOS Use <a target="_blank" href="https://apps.apple.com/us/app/yandex-browser/id483693909">Yandex Browser </a>And Install <a href="https://ublockorigin.com/">uBlock Origin </a>Extension In That.
                    </li>
                    <li>
                        For Android Use <a target="_blank" href="https://play.google.com/store/apps/details?id=com.kiwibrowser.browser&hl=en&gl=US">Kiwi Browser </a>And Install <a href="https://ublockorigin.com/">uBlock Origin </a>Extension In That.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>