@using Microsoft.AspNetCore.Components


@code {
    [Parameter]
    public List<string> SendList { get; set; }
    public int current { get; set; } = 0;

    private void GetNext()
    {
        current++;
        if (current >= SendList.Count)
        {
            current = 0;
        }

    }
    private void GetPrevious()
    {
        current--;
        if (current <= 0)
        {
            current = 0;
        }

    }
}

<div class="ratio ratio-16x9">
    <iframe id="player" src="@SendList[current]" allowfullscreen></iframe>
</div>
<div class="d-flex justify-content-center m-2">
    <button class="btn btn-danger m-1" @onclick="GetPrevious" id="preVideoBtn" type="button">Previous</button>
    <button class="btn btn-danger m-1" @onclick="GetNext" id="nextVideoBtn" type="button">Next</button>
</div>
