@using MoviesMafia.Models.Repo
@model AppUser
@section profilecss{
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <style>

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }

    </style>
}
@{
    ViewBag.Title = "Edit User";
}
<div class="container bg-dark d-flex flex-column">


    <div class="row mt-2 d-flex justify-content-center text-center ">
        <div class="col-sm-12 col-lg-6 bg-dark">
            <h5 class="text-light h2 ">Edit Record</h5>

            <form class="text-light" asp-action="UpdateEmail" asp-controller="Account" method="post">
                <div class="form-group m-2">
                    <label for="textInput">Id</label>
                    <input name="id" readonly class="form-control" value="@Model.Id" id="textInput">
                </div>
                <div class="form-group m-2">
                    <label for="textInput">Email</label>
                    <input required name="email" type="text" class="form-control" placeholder="Email" id="textInput2">
                </div>
                <button type="submit" class="btn btn-danger mb-3">Submit</button>
            </form>


        </div>
    </div>
</div>
