<nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-dark px-5">
    <div class="container-fluid">
        <a class="navbar-brand d-block ps-lg-5" href="/LandingPage/LandingPage">
            <img width="200px" src="~/MoviesMafia.png" alt="MoviesMafia" />
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-lg-auto">
                <li class="nav-item">
                    <a class="nav-link active text-light"
                       aria-current="page"
                       href="~/Movies/Movies">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light"
                       aria-current="page"
                       href="~/Season/Season">Seasons</a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link active text-light" href="~/Account/Profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" href="~/Account/Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link active text-light" href="~/Account/Login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" href="~/Account/SignUp">Sign Up</a>
                    </li>
                }


                <li class="nav-item">
                    <a class="nav-link active text-light"
                       aria-current="page"
                       href="~/AboutUs/AboutUS">About Us</a>
                </li>
            </ul>



            <form class="d-flex pe-lg-5 text-light" id="form" role="search">
                <input type="search"
                       placeholder="Search"
                       id="search"
                       class="form-control me-2 search"
                       aria-label="Search"
                       name="search"
                       required
                       value="@ViewBag.x" />
                <div class="form-group form-check form-check-inline m-2">
                    <input required class="form-check-input" type="radio" name="type" id="inlineRadio1" value="Movie">
                    <label class="form-check-label" for="inlineRadio1">Movie</label>
                </div>
                <div class="form-group form-check form-check-inline m-2">
                    <input required class="form-check-input" type="radio" name="type" id="inlineRadio2" value="Season">
                    <label class="form-check-label" for="inlineRadio2">Season</label>
                </div>
                
                <button class="btn btn-outline-light" type="button" onclick="SubmitForm()">

                    Search
                </button>

            </form>
        </div>
    </div>
</nav>
