@section moviescss{
    <link rel="stylesheet" href="~/css/movies.css" asp-append-version="true" />
}
<div class="minfo">
    <div class="movie">
        <img src="~/MoviesMafia.png" alt="Image" />

        <div class="movie-info">
            <h3>Movie</h3>
            <span class="green">9.0</span>
        </div>
        <div class="text-light overview">
            <h3 class="fw-bold text-light">Overview</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
            nostrum unde assumenda qui! Aspernatur laborum pariatur dolorem
            suscipit error quidem expedita nesciunt iure, atque repellendus
            adipisci quos quae, earum tempore?
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <form class="playnow" action="~/Movies/Playnow" method="post">
                <button class="btn btn-danger w-100" type="submit" name="playnow" value="1">Play Now</button>
            </form>
        }
    </div>
    <div class="movie">
        <img src="~/MoviesMafia.png" alt="Image" />

        <div class="movie-info">
            <h3>Movie</h3>
            <span class="green">9.0</span>
        </div>
        <div class="text-light overview">
            <h3 class="fw-bold text-light">Overview</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
            nostrum unde assumenda qui! Aspernatur laborum pariatur dolorem
            suscipit error quidem expedita nesciunt iure, atque repellendus
            adipisci quos quae, earum tempore?
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <form class="playnow" action="~/Movies/Playnow" method="post">
                <button class="btn btn-danger w-100" type="submit" name="playnow" value="1">Play Now</button>
            </form>
        }
    </div>
    <div class="movie">
        <img src="~/MoviesMafia.png" alt="Image" />

        <div class="movie-info">
            <h3>Movie</h3>
            <span class="green">9.0</span>
        </div>
        <div class="text-light overview">
            <h3 class="fw-bold text-light">Overview</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
            nostrum unde assumenda qui! Aspernatur laborum pariatur dolorem
            suscipit error quidem expedita nesciunt iure, atque repellendus
            adipisci quos quae, earum tempore?
        </div>
        @if (User.Identity.IsAuthenticated)
        {
        <form class="playnow" action="~/Movies/Playnow" method="post">
            <button class="btn btn-danger w-100" type="submit" name="playnow" value="1">Play Now</button>
        </form>
        }
    </div>
</div>

