body {
    background: linear-gradient( to right, rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781) ), url("../Netflix-Background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow:hidden;
}

#Welcome {
    color: white;
}

.btn {
    white-space: nowrap;
   

}

    .btn:hover {
        transform: scale(1.1);
    }
@media (max-width:575px) {
    #form {
        flex-wrap: wrap;
    }
}