* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #303030;
    --secondary-color: #212529;
}

body {
    background-color: var(--primary-color);
    margin: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
}

.search:focus {
    outline: 0;
    background-color: var(--primary-color);
    color: #fff;
}

.search::placeholder {
    color: #fff
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:48px;
}

.movie {
    width: 200px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 3px;
    height: 350px;
    
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;

}

.movie-info h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: medium;
    font-weight: bold;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #373b69;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.2s ease-in;

}

.movie:hover .overview {
    transform: translateY(0);

}

.minfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playnow {
    width: 87%;
}

.pagination {
    display: flex;
    flex-basis:100%;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color: white;
}

.page {
    padding: 20px;
    cursor: pointer;
    
}
   

.page.disabled {
    cursor: not-allowed;
    color: grey;
}

.current {
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid #bb2d3b;
    font-size: 20px;
    font-weight: 600;
}

body {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.781),
            rgba(0, 0, 0, 0.781)),
        url("../Netflix-Background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
a {
    white-space: nowrap;
}

@media (max-width: 400px) {
    .pagination {
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:center;

    }
}
@media (max-width:991px){
    .navbar{
        padding:0;
        margin:0;
    }
}
@media (max-width:320px){
    .bottom-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width:575px) {
    #form {
        flex-wrap: wrap;
    }
}
@media(max-width:463px) {

    
    .movie {
        width: 80%;
        height: 80%;
    }

    main {
        justify-content: space-around;
        
    }

    .minfo {
        width: 11rem;
    }
    
}